language: java
env:
 global:
  - SONATYPE_USERNAME=vpro
  - secure: "tyfKTHqo0+z4Q+SXzGxPt2JTLVFjhb5YB3PImcUSBFTeavaCw7OJJmnYy6F2w3YOkctITcCtf7aakZ3zORaIGox+SrGWSA5ZyYStI1oR53kOFU0qEchFvMoG8oJn3YTz1plw82Crn6RqLK6HuEdOSgEssapSJwbeYbTADAT5xGWqDQ5JoWNvKq1XIEYshbjlX7W5wHzDs4zIFMteQpYdkn+S4kDRBp/yElkAle6rhA/CroRCF7zv2C0pwRhUq1VmM8in/n2WnP+Ldz+KPX2wsJFsX8vhDBJujwd0HY04M03EjsZWjN09pGZ3IKPDaLRRf5nG8+rlLCr94vWM61GQTrzmcL7+3GGu9pmD77OjtRxsaA2CKVe60dYs0k6m022+SQEMueApHk+Sads6EKMcixqq8AuVi0dc3rOlVh3/DMRANrCQKlbF2RlGBAQr433BAtJavuHYyw9tZCu29l7t7N5TtbarpKk/z0BAD4SrWwrHb3l4RxyA8qSUr9dmprZUUQHtyOD9rWNGLxQ9NUKIQHH+WwHKoF+ORAoYLoIn6BNtNCTgLY2Kvp60skgwAEDUDcwa+wv9Ni8a0RG1XaIxTLgSS8tYTcqZ0bh1wnk9dejDH3iwM8vQLcNt6llPEAGKQKIT7R7+GH/ZrM346AE2mRqrBp0wNXExqkYhCdZSggI="


jdk:
- oraclejdk8

sudo: false

script: mvn clean test install

after_success:
- mvn -Pdeploy deploy --settings travis-settings.xml -DskipTests=true -Dgpg.skip=true  -B
